<h1>Welcome to Banksy!</h1>

This is basically a personal project to take a piece of another webapp that I liked and re-create it.
It's re-creating the Piggy Banks feature from Firefly III. I used the webapp for a while and it was really
the only part of the app that I actually wanted. Yes there are probably versions of this that are better-built
but this is mine and it was a fun project.
