<h1>Welcome to Banksy!</h1>

This is basically a personal project to take a piece of another webapp that I liked and re-create it.
It's re-creating the <a href="https://docs.firefly-iii.org/firefly-iii/financial-concepts/piggies/#screenshots">Piggy Banks<a> feature
from <a href="https://firefly-iii.org/">Firefly III</a>. I used the webapp for a while and it was really
the only part of the app that I actually used or wanted. Yes there are probably versions of this that are better-built
but this is mine and it was a fun little project.
<br />

The source code is publicly available on <a href="https://github.com/robot-c0der/banksy">Github</a> if you want
to take a look at what makes this thing tick.
<br />
<br />
<br />
<h3>Just here to check things out?</h3>
Use the username <code>demo@demo</code> and password <i>demo</i> to log in! (Note that this user gets reset every 15 minutes)