# Database Credentials
# These ones are for local development/running without using Capistrano
BANKSY_DATABASE_USER=banksy_db_user
BANKSY_DATABASE_PASSWORD=banksyisasmallproject

# SET THIS ONE FOR deploying with Capistrano
DATABASE_URL=postgresql://banksy:banksyisasmallproject@localhost/banksy_prod


# Rails Secrets
RAILS_MASTER_KEY=<rails secret output here>
SECRET_KEY_BASE=<rails secret output here>

# The publicly-accessible URL for the site
PUBLIC_BASE_URL=banksy.yourawesomedomain.com

# Capistrano Deploy Information
# This has to be the IP address of the server you're deploying to,
# NOT a domain name. Why? I don't know. Ask Capistrano.
CAP_DEPLOY_SERVER_IP=127.0.0.1
CAP_DEPLOY_PATH=/path/to/where/you/are/deploying/banksy
CAP_DEPLOY_REPO=git@github.com:robot-c0der/banksy.git
## MAKE SURE TO UPDATE THIS USERNAME TO WHATEVER YOUR DEPLOY USER IS
CAP_DEPLOY_USER=deploy
DEPLOY_SSH_KEY_PATH="/home/deploy/.ssh/id_rsa"

# Email Configuration
# This is the email that Banksy will send all emails from
SUPPORT_EMAIL=banksysupport@yourawesomedomain.com

# SMTP Server Details
# I've found using a third party like mailjet, or sendgrid easiest
# but if you've got a local MTA setup that should work fine too
SMTP_HOST=smtp.yourmailserver.com
SMTP_PORT=465
SMTP_TLS=false
SMTP_SSL=true
# SMTP Credentials
SMTP_USER=<smtp_user>
SMTP_PASSWORD=<smtp_password>