<h1>Account Confirmation Instructions</h1>
<br />
Hi!<br />
You're getting this because your email was used to create an account at 
<%= link_to "Banksy", root_url %>.<br />
Before you can use your account you must confirm your email<br />
<%= link_to "Click Here to confirm your email", edit_confirmation_url(@confirmation_token) %>

Cheers!