<h1>Password Reset Instructions</h1>
<br />
Hello!

Someone (hopefully you) requested to reset your password, if this was you follow
the link below to reset your password. If this wasn't you you can ignore and delete this
email. This link will expire in 12 hours.<br />
<%= link_to "RESET PASSWORD", edit_password_reset_url(@password_reset_token) %>