<tr>
    <td>        
        <%= active_session.user_agent %>
        <% if active_session.id = session[:current_active_session_id] %>
            (This Device)
        <% end %>
    </td>
    <td><%= active_session.ip_address %></td>
    <td><%= active_session.created_at %></td>
    <td>
        <%= button_to active_session_path(active_session),method: :delete, class: 'btn btn-danger' do %>
            <span class='bi bi-trash3-fill'> </i>
        <% end %>
    </td>
</tr>